<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Temporary private chatrooms with file uploading support. No invite or registration required. Ad-free and encrypted in transit, always!">
        <link rel="shortcut icon" type="image/ico" href="tc.ico">
        <title>{{ my_fqdn }}</title>
        <script src="js/custom.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="css/spinner.css" rel="stylesheet" type="text/css" media="screen" />
    </head>
    <body>
        <noscript>
            <div class="jumbotron text-center">
            <h4>Javascript is disabled either enable it or if you want to use the api,</h4>
            <h4>curl https://{{ my_fqdn }}/app/api_help</h4>
            </div>
        </noscript>
        <div class="jumbotron text-center">
            <h1>{{ my_fqdn }}</h1>
            <h4>Because nothing lasts forever.</h4>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="./index.html">Start</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./who.html">Who</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./why.html">Why</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./updates.html">Updates</a>
                </li>
                <li class="Q & A">
                    <a class="nav-link" href="./qa.html">Q&A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
            </ul>
            </div>
        </nav>
        <div class="container vh-100">
            <div class="row h-25 justify-content-center align-items-center">
                <form id="newroom">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="room_type" id="room_type_private" value="private">
                        <label class="form-check-label" for="room_type_private">Private</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="room_type" id="room_type_public" value="public">
                        <label class="form-check-label" for="room_type_public">Public</label>
                    </div>
                </form>
            </div>
            <div class="row h-10 justify-content-center align-items-center">
                <div id="room_info"></div>
            </div>
            <br>
            <div id="spinner_row" class="row h-50 justify-content-center align-items-center">
                <div id="spinner" class="spin row h-30 justify-content-center"></div>
            </div>

        </div>
    </body>
</html>

