<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="shortcut icon" type="image/ico" href="tc.ico" />
   <link href="css/main.css" rel="stylesheet" />
   <script src="js/chat_custom.js"></script>
   <title>
       {{ my_fqdn }}
    </title>
</head>
<body>
    <iframe name="hiddenFrame" class="hidden"></iframe>
    <div class="container-fluid">
        <div class="conversation" id="conversation"></div>
            <form target="hiddenFrame" class="send-row">
                <input id="post" type="text" autocomplete="off" placeholder="Message">
                <button id="button-post" type="submit">Send</button>
            </form>
        </div>
        <div class="sidebar-container">
            <button class="openbtn">
            </button>
            <div id="sidebar" class="sidebar">
                <form target="hiddenFrame" class='username-form'>
                    <input id="user_name" type="text" placeholder="Username" aria-label="Username">
                    <button type="submit">Save</button>
                </form>
                <form id="upload-form" target="hiddenFrame" enctype="multipart/form-data" method="post" class="file-form no-file-chosen">
                    <label>
                        <input type="file" id="file">
                        <span class='button-add-file'>
                            share file
                        </span>
                    </label>
                    <div id="preview"></div>
                    <input type="submit" class="button-upload" value="Upload">
                </form>
                <div class='sidebar-actions'>
                    <button type="submit" class="btn-rss-notif-all">Rss All Notifications</button>
                    <button type="submit" class="btn-rss-notif-ping">Rss Ping Notifications</button>
                    <button type="submit" class="btn-notif">Desktop Notifications</button>
                    <button type="submit" class="btn-quit">Quit</button>
                    <button type="submit" class="btn-destroy">Destroy</button>
                    <button type="submit" class="btn-help">Help</button>
                    <button type="submit" class="btn-close_menu">Close menu</button>
                </div>
            </div>
        </div>
    </body>
</html>
